/* .apartment-detail {
    width: 50%;
    margin: auto;
    text-align: center;
  }
  
  .apartment-detail img {
    width: 100%;
    border-radius: 8px;
  }
  
  .apartment-detail p {
    margin-top: 10px;
    font-size: 18px;
  }
   */